@if (AreaOfficeThinObjects != null)
{
    <div class="iled-input-box">
        <label for="ed-multichoice">@Label[Type]</label>
        <select id="ed-multichoice" @bind="SelectedId">
            @foreach (var item in AreaOfficeThinObjectsSorted)
            {
                <option value="@item.Id"> @item.Title</option>
            }
        </select>
    </div>
    <div class="iled-buttons-left">
    <button class="il-button" @onclick="Click">Choose this</button>
    </div>
}
