@if (Information != null && Information.Any())
{
    <div class="iled-float">
        <h2>Your Office Administrators</h2>
        <div>
            @foreach (var office in Information)
            {
                <span>For office <em>@office.OfficeName</em></span>
                <br />
                @if (office.OfficeManagers.Count() == 0)
                {
                    <span>No managers listed</span>
                }
                @if (office.OfficeManagers.Count() == 1)
                {
                    <span>Manager: </span>
                }
                @if (office.OfficeManagers.Count() > 1)
                {
                    <span>Managers: </span>
                }
                @foreach (var manager in office.OfficeManagers)
                {
                    <span>@manager.Name, @manager.Email</span> <br />
                }
            }

            <p>This is your office administrator who can assist you with updating profile and office information.</p>
        </div>
    </div>
}
