<div class="iled-username">
    <span>@SecurityEntry.ListedName, @SecurityEntry.Email</span><button class="il-button" @onclick="TogglePrivate">@PrivateText</button><button class="il-button il-orange" @onclick="Remove">Remove Person</button>
</div>