@page "/unit/offices/{unitid:int?}"

<PageTitle>Unit General | Illinois</PageTitle>

<il-section>
    <h1>@UnitTitle</h1>
    <p>Add and remove offices below.</p>
</il-section>
@if (!UnitId.HasValue)
{
    <MultiChoice @ref="_multiChoice" Type="MultiChoiceTypeEnum.Area" AreaOfficeThinObjects="_areaThinObjects" OnClickCallback="AssignId"></MultiChoice>
}
else
{
    <il-section class="iled-username-parent">
        @foreach (var office in Offices ?? new List<Office>())
        {
            <GenericItem GenericEntry="@office" Text="@office.Title" OnClickCallback="e => RemoveEntry(office.Id)"></GenericItem>
        }
    </il-section>

    <div class="iled-section-split">
        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="ed-officename" class="iled-label-required">Office Name</label>
                <input id="ed-officename" required type="text" @bind="OfficeName">
            </div>
            <div class="iled-instructions">
                Office Name of the office you are creating.
            </div>
        </div>
        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="ed-netid" class="iled-label-required">Primary Contact NetId</label>
                <input id="ed-netid" required type="text" @bind="NetId">
            </div>
            <div class="iled-instructions">
                NetID of the primary contact of the office. The <em>@@illinois.edu</em> suffix is optional.
            </div>
        </div>
    </div>
    <div class="iled-buttons-left">
        <button class="il-button" @onclick="Send" @onblur="RemoveMessage">Save</button>
        <ClearCacheButton></ClearCacheButton>
    </div>
    <ToastPopup></ToastPopup>
}