@page "/unit/directory/{unitid:int?}"

<PageTitle>Unit Links | Illinois</PageTitle>

<il-section>
    <h1>@UnitTitle Links</h1>
    <p>Your directory is accessible through an Application Programming Interface (API). This allows applications from other systems on campus to access this information.</p>
    <p>You have two options to access this information</p>
    <ul>
        <li><em>By ID</em>: When you created an area, an ID was assigned to your area. This number can be used to access your information.</li>
        <li><em>By Code</em>: You can create a unique code that you can use. Often, this code is more memorable than your ID.</li>
    </ul>
</il-section>
@if (!UnitId.HasValue)
{
    <MultiChoice @ref="_multiChoice" Type="MultiChoiceTypeEnum.Area" AreaOfficeThinObjects="_areaThinObjects" OnClickCallback="AssignId"></MultiChoice>
}
else if (Area != null)
{
    <div class="iled-section-split">
        <div>
            <a href="https://directoryapi.itpartners.illinois.edu/Api/Area/Id/@Area.Id" target="_blank" class="il-button">Link to get information by ID</a>
        </div>
        <div>
            @if (string.IsNullOrWhiteSpace(AreaSettings.InternalCode))
            {
                <p>Add an internal code to get information by code</p>
            }
            else
            {
                <a href="https://directoryapi.itpartners.illinois.edu/Api/Area/Code/@AreaSettings.InternalCode" target="_blank" class="il-button">Link to get information by Code</a>
            }
        </div>
    </div>
    <div class="iled-section-split">
        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="ed-internalcode">Internal Code</label>
                <input id="ed-internalcode" type="text" @bind="AreaSettings.InternalCode">
            </div>
            <div class="iled-instructions">
                The internal code is used to send to the API as opposed to the ID of the area.
            </div>
        </div>
    </div>
    <div class="iled-buttons-left">
        <button class="il-button" @onclick="Send" @onblur="RemoveMessage">Save</button>
    <ClearCacheButton></ClearCacheButton>
    </div>
    <ToastPopup></ToastPopup>
}