@inherits LayoutComponentBase
@layout SidebarLayout

<il-section-with-sidebar>
    <div slot="sidebar">
        <il-section-nav>
            <h3><a href="/unit/general">Unit Administration</a></h3>
            <ul>
                <li>
                    <a title="General Information" href="/unit/general">General Information</a>
                </li>
                <li>
                    <a title="Add and Remove Offices" href="/unit/offices">Add and Remove Offices</a>
                </li>
                <li>
                    <a title="Unit Administrators" href="/unit/users">Unit Administrators</a>
                </li>
                <li>
                    <a title="Internal Information" href="/unit/internal">Internal Information</a>
                </li>
                <li>
                    <a title="Tag Information" href="/unit/tags">Tag Information</a>
                </li>
                <li>
                    <a title="Links to Pull Information" href="/unit/directory">Links to Pull Information</a>
                </li>
            </ul>
        </il-section-nav>
        <LoginInformation></LoginInformation>
    </div>
    @Body
</il-section-with-sidebar>
