@page "/unit/users/{unitid:int?}"

<PageTitle>Unit Admin | UIUC</PageTitle>

<il-section>
    <h1>@UnitTitle Administrators</h1>
    <p>These people will be able to create new offices, create other unit administrators for their unit, and office administrators.</p>
</il-section>
@if (UnitId.HasValue)
{
    <h2>Primary Administrators</h2>
    <p>Primary administrators are visible to the outside world.</p>
    <il-section class="iled-username-parent">
        @foreach (var entity in SecurityEntries?.Where(se => se.IsPublic) ?? new List<SecurityEntry>())
        {
            <UsernameItem SecurityEntry="@entity" OnClickCallback="e => RemoveEntry(entity.Id)" OnChangeCallback="ChangeEntry"></UsernameItem>
        }
    </il-section>
    <h2>Backup Administrators</h2>
    <p>Backup administrators are not visible to the outside world, but have the same permissions as a primary administrator.</p>
    <il-section class="iled-username-parent">
        @foreach (var entity in SecurityEntries?.Where(se => !se.IsPublic) ?? new List<SecurityEntry>())
        {
            <UsernameItem SecurityEntry="@entity" OnClickCallback="e => RemoveEntry(entity.Id)" OnChangeCallback="ChangeEntry"></UsernameItem>
        }
    </il-section>
    <div>
        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="ed-netid" class="iled-label-required">Add a New Unit Administrator</label>
                <input id="ed-netid" required type="text" @bind="NetId">
            </div>
            <div class="iled-instructions">
                Enter a Net ID of the unit administrator. The <em>@@illinois.edu</em> suffix is optional
            </div>
        </div>
    </div>
    <div class="iled-buttons-left">
        <button class="il-button" @onclick="Send" @onblur="RemoveMessage">Save</button>
        <button class="il-button" @onclick="LookupId" @onblur="RemoveMessage">Check NetID</button>
        <ClearCacheButton></ClearCacheButton>
    </div>
    <ToastPopup></ToastPopup>
}
else
{
    <MultiChoice @ref="_multiChoice" Type="MultiChoiceTypeEnum.Area" AreaOfficeThinObjects="_areaThinObjects" OnClickCallback="AssignId"></MultiChoice>
}