@page "/history"

<PageTitle>History | UIUC</PageTitle>

<h1>About This Project</h1>

<p>The College of Education needed a way to organize our faculty and staff members. We've used EDW and Illinois Experts to fill out most of the information, but there were a few things that we were missing. </p>

<p>At the same time, TDX was building out their https://help.illinois.edu site, and one of the things it needed was a list of units and offices. Originally, the unit information was stored in a Google Sheets document and pulled using Google APIs. However, it was difficult to update that information. </p>

<p>Based on these two needs, we created a Contact Support Application with Tech Services to store unit and office information. We then added code to store profile information. Finally, we turned our faculty load process to call APIs from this application, and then built a complex Microsoft Power Automate script to run this. This was a lot of work and really not sustainable across multiple colleges.</p>

<p>In 2024, we rebuilt this to update the code, make the interface a lot better, and simplify the directory load.</p>

<h2>Can you get information from this?</h2>
<p>
    Yes! This works in conjunction with the <a href="https://directoryapi.itpartners.illinois.edu/api/swagger/ui">Directory API</a>. This is an API that can get unit, office, and basic profile information. It also has a hook that trigger a faculty load. The faculty load integrates with Illinois Experts, EDW, and course information from various repositories. There are plans to add additional functionality to allow colleges to load their own information about their faculty. Because this load is potentially destructive, we will need to create a custom key. This key will be distributed to outside applications for their custom loads.
</p>

<h2>How do I see the code?</h2>

<p>Go to our <a href="https://github.com/itpartnersillinois/uofi-itp-directory">GitHub repository</a>.</p>