@page "/illinoisexperts"

<PageTitle>Illinois Experts | Illinois</PageTitle>

<h1>Illinois Experts Information</h1>

<p><a href="https://experts.illinois.edu/">Illinois Experts</a> is a campus-wide web profile system for university researchers. Tenure-system faculty are given accounts automatically. Additional accounts for specialized faculty may be available by request (see <a href="http://go.illinois.edu/experts">Illinois Experts Help & FAQs</a> for more information about requesting an Illinois Experts account).</p>

<h2>Logging in and editing</h2>
<ol>
    <li>Go to the <a href="https://go.illinois.edu/experts-login">Experts Login page</a>.</li>
    <li>You can click “My Profile” to edit certain details (e.g. education history, biography).</li>
    <li>Or click the big, green “Add New” button to add activities (e.g. publications, presentations, editorships, awards).</li>
</ol>
<p>Tutorials and tips are available via <a href="http://go.illinois.edu/experts">Illinois Experts Help & FAQs</a>.</p>

<h2>Which data do you add to Illinois Experts that gets copied to your College Faculty Profile?</h2>
<ul>
    <li><strong>Biography:</strong> From the Profile Information section, choose either “Professional Information” or “Personal Profile”. If both are filled out, it will use the text inside "Professional Information".</li>
    <li>
        <strong>Key Professional Appointments:</strong>
        <ul>
            <li>From the Organizational Affiliations section, add an organizational affiliation for a University of Illinois background.</li>
            <li>From the External positions section, add an external position for a background outside of University of Illinois.</li>
        </ul>
    </li>
    <li><strong>History:</strong> From the Profile Information section, choose “Education”. Do not use the “Education/Academic qualification” section.</li>
    <li><strong>Awards:</strong> From the Profile Information section, choose “Honors & Awards”. This will split up each line into an individual award.</li>
    <li>
        <strong>Links:</strong> From the Links section, add a link.
        <ul>
            <li>If the link is marked “Twitter”, it will show up as a Twitter link.</li>
            <li>If the link is marked “LinkedIn”, it will show up as a LinkedIn link.</li>
            <li>Otherwise, the displayed text will be the Description, or the hypertext link if the description is blank.</li>
        </ul>
    </li>
    <li><strong>Research:</strong> From the Profile Information section, choose “Research Interests”. If this is a bulleted list, it will preface the list with a title.</li>
    <li><strong>Grants:</strong> From the Profile Information section, choose “Grants”. This will split up each line into an individual grant.</li>
    <li><strong>Services:</strong> From the Profile Information section, choose “Academic Service”. This will split up each line into an individual service.</li>
    <li><strong>Teaching Profile:</strong> From the Profile Information section, choose “Teaching”.</li>
</ul>

<h2>What data automatically gets added to your College Faculty Profile</h2>
<ul>
    <li><strong>Publications</strong> are automatically added to the Publication list in your faculty profile.</li>
    <li>
        <strong>Activities:</strong>
        <ul>
            <li>Activities that are invited talks, seminars, or oral presentations are automatically added to the Presentation list in your faculty profile.</li>
            <li>Activities that are not invited talks, seminars, or oral presentations are automatically added to the Key Professional Appointments list in your faculty profile.</li>
        </ul>
    </li>
    <li><strong>Prizes</strong> are automatically added to the Awards list in your faculty profile if you haven’t filled in the Honors & Awards section.</li>
    <li><strong>Keywords</strong> are automatically added to the Keyword list in your faculty profile.</li>
</ul>
