@page "/"

<PageTitle>IT Partners Directory | UIUC</PageTitle>

<h1>Welcome to the IT Partners Directory</h1>

<OfficeAdmin></OfficeAdmin>

<p>The IT Partners Directory is for faculty and staff to enter directory information for units, offices, and profiles. The information within the IT Partners Directory may be displayed on both your unit and office directories, as well as the <a href="https://help.uillinois.edu/TDClient/42/UIUC/Home/?ID=5c795c29-e7a7-403b-977f-687384d49fe7">Tech Help Center Help Desks page (TeamDynamix)</a>.</p>

<p>Some information can be updated at the campus level in the <a href="https://go.uillinois.edu/myprofile">My Profile in My UI Info</a> on the system level.</p>

<div class="iled-card-list">
    @if (FullSecurityItem?.HasProfile ?? false)
    {
        <il-card class="il-theme-gray">
            <h2>Edit My Profile</h2>
            <p>You have a profile. Edit or preview your directory profile</p>
            <div class="iled-buttons">
                <a href="/profile/general" class="il-button">Edit</a>
                <ViewProfile></ViewProfile>
            </div>
        </il-card>
    }
    @if (FullSecurityItem?.IsAnyAdmin ?? false)
    {
        <il-card class="il-theme-gray">
            <h2>Office Administration</h2>
            <p>You are an office administrator. Edit those in your office and office information, including office location, hours, and contact information.</p>
            <div class="iled-buttons">
                <a href="/office/people" class="il-button">Edit People</a>
                <a href="/office/hours" class="il-button">Edit Office Hours</a>
            </div>
        </il-card>
    }
    <il-card class="il-theme-gray">
        <h2>Find an Administrator</h2>
        <p>If you find incorrect information about an office, you can view a list of office/unit administrators and their contact information.</p>
        <div class="iled-buttons">
            <a href="/search/offices" class="il-button">Office Admins</a>
            <a href="/search/units" class="il-button">Unit Admins</a>
        </div>
    </il-card>
</div>