@page "/"

<PageTitle>IT Partners Directory | UIUC</PageTitle>

<h1>Welcome to the IT Partners Directory</h1>

<OfficeAdmin></OfficeAdmin>

<p>The IT Partners Directory is for faculty and staff to enter directory information for units, offices, and profiles. The information within the IT Partners Directory may be displayed on both your unit and office directories, as well as the UIUC Tech Help Center Help Desks page.</p>

<p>Some information can be updated at the campus level in the Illinois Directory. The IT Partners Directory will pull that information and most of it can also be updated in the IT Partners Directory.</p>

<p>To request a change to your unit’s information, contact us. Our web team will get back to you within one business day. Please contact us if you have any questions or concerns.</p>

<div class="iled-card-list">
    <il-card class="il-theme-gray">
        <h2>Edit My Profile</h2>
        <p>Edit or preview your directory profile</p>
        <div class="iled-buttons">
        <a href="#" class="il-button">Edit</a>
        <a href="#" class="il-button">View Your Profile</a>
        </div>
    </il-card>
    <il-card class="il-theme-gray">
        <h2>Office Administration</h2>
        <p>Edit those in your office and office information, including office location, hours, and contact information.</p>
        <div class="iled-buttons">
        <a href="#" class="il-button">Edit People</a>
        <a href="#" class="il-button">Edit Office Hours</a>
        </div>
    </il-card>
    <il-card class="il-theme-gray">
        <h2>Find an Administrator</h2>
        <p>View a list of administrators and their contact information.</p>
        <div class="iled-buttons">
        <a href="#" class="il-button">Administrators</a>
        </div>
    </il-card>
</div>