@page "/viewadmin"

<PageTitle>View Admin | Illinois</PageTitle>

<h1>View Your Administrators</h1>

<OfficeAdmin></OfficeAdmin>

<p>You may contact your office administrator if there is anything you need to change in your profile.</p>

<p>If you run into a technical issue using this application, please <a href="https://go.illinois.edu/itpartners-directory-help">let us know</a>.</p>
