@page "/viewadmin"

<PageTitle>Helpful Resources | Illinois</PageTitle>

<h1>Helpful Resources</h1>

<OfficeAdmin></OfficeAdmin>

<p>You may contact your office administrator if there is anything you need to change in your profile or if you have questions about how to change your profile.</p>

<h2>Documentation</h2>
<ul>
    <li><a href="https://uofi.box.com/s/y2ewlnsgcjof9xkuerky6hs1fwdhk0bd">Documentation for Individuals</a>: how to make changes to your profile</li>
    <li><a href="https://uofi.box.com/s/m65dwwxfu05q8m62s3v1joqn4jsndic6">Documentation for Office Administrators</a>: how to make changes to your office</li>
</ul>

<h2>Technical Support</h2>
<p>If you run into a technical issue using this application, please <a href="https://go.illinois.edu/itpartners-directory-help">let us know</a>.</p>
