@page "/search/people"

<PageTitle>Search Profile | UIUC</PageTitle>

<il-section>
    <h1>Search Profile</h1>
    <p>Look up a profile below. Note that this will only search people inside the IT Partners Directory. <a href="https://directory.illinois.edu/search">Search the entire campus directory.</a></p>

    <div class="iled-input-box-parent">
        <div class="iled-input-box">
            <label for="ed-filter">Lookup / Filter Net ID</label>
            <input id="ed-filter" type="text" @onchange="(ChangeEventArgs e) => FilterChange(e)">
        </div>
    </div>
    <div class="iled-input-box-parent">
        <div class="iled-input-box">
            <label for="ed-choose">Choose a profile below</label>
            <select id="ed-choose" class="iled-select-lookup" size="10" @onchange="(ChangeEventArgs e) => ChangeLookupId(e)">
                @foreach (var item in LookupThinObjects)
                {
                    <option value="@item.Id">@item.Text</option>
                }
            </select>
        </div>
    </div>
    <button class="il-button" disabled="@IsEditDisabled" @onclick="EditProfile">View / Edit Profile</button>

</il-section>
