@page "/office/internal/{officeid:int?}"

<PageTitle>Office Internal | UIUC</PageTitle>

<il-section>
    <h1>@OfficeTitle Internal</h1>
    <p>Edit your office’s general information below.</p>
</il-section>
@if (!OfficeId.HasValue)
{
    <MultiChoice @ref="_multiChoice" Type="MultiChoiceTypeEnum.Office" AreaOfficeThinObjects="_officeThinObjects" OnClickCallback="AssignId"></MultiChoice>
}
else if (Office != null)
{
    <div class="iled-input-box-parent">
        <div class="iled-input-box">
            <label for="ed-internalnotes">Internal Notes</label>
            <textarea id="ed-internalnotes" @bind="OfficeSettings.InternalNotes"></textarea>
        </div>
        <div class="iled-instructions">
            Internal notes are used to keep track of information about this office and are not exposed to the end user. 
        </div>
    </div>
    <h2>Publishing Information</h2>
    <div class="iled-section-split">
        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="ed-location">Publishing Location</label>
                <select id="ed-location" @bind="PublishingLocation">
                    <option value="0">Do not show</option>
                    <option value="1">Publish to site</option>
                    <option value="2">Publish to site and helpdesk</option>
                </select>
            </div>
            <div class="iled-instructions">
                Note that if your entire unit is listed as "do not show", this will override your office settings. 
            </div>
        </div>
    </div>
    @if (Office.IsAreaAdmin)
    {
        <h2>Order Information</h2>
        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="ed-internalorder">Order</label>
                <select id="ed-internalorder" @bind="Office.InternalOrder">
                    @foreach (var enumtype in Enum.GetValues<ProfileDisplayEnum>())
                    {
                        <option value="@enumtype">@enumtype.ToPrettyString()</option>
                    }
                </select>
            </div>
            <div class="iled-instructions">
                Offices will be listed in alphabetical order unless changed here.
            </div>
        </div>
    }
    <div class="iled-buttons-left">
    <button class="il-button" @onclick="Send">Save</button>
    <ClearCacheButton></ClearCacheButton>
    </div>
    <div id="update-alert-parent"><span class="hide" id="update-alert" role="alert"></span></div>
}