@page "/office/internal/{officeid:int?}"

<PageTitle>Office Internal | Illinois</PageTitle>
<NavigationLock OnBeforeInternalNavigation=this.LocationChangingHandler ConfirmExternalNavigation=_isDirty />
<il-section>
    <h1>@OfficeTitle Internal</h1>
    <p>Edit your office’s general information below.</p>
</il-section>
@if (!OfficeId.HasValue)
{
    <MultiChoice @ref="_multiChoice" Type="MultiChoiceTypeEnum.Office" AreaOfficeThinObjects="_officeThinObjects" OnClickCallback="AssignId"></MultiChoice>
}
else if (Office != null)
{
    <div class="iled-input-box-parent">
        <div class="iled-input-box">
            <label for="ed-internalnotes">Internal Notes</label>
            <textarea id="ed-internalnotes" @bind="OfficeSettings.InternalNotes" @bind:after="SetDirty"></textarea>
        </div>
        <div class="iled-instructions">
            Internal notes are used to keep track of information about this office and are not exposed to the end user. 
        </div>
    </div>
    <h2>Publishing Information</h2>
    <div class="iled-input-box-parent">
        <div class="iled-input-box">
            <label for="ed-location">Publishing Location</label>
            <select id="ed-location" @bind="PublishingLocation" @bind:after="SetDirty">
                <option value="0">Do not show but allow people to be added</option>
                <option value="1">Publish to site</option>
                <option value="2">Publish to site and helpdesk</option>
                <option value="9">Do not show and do not add people</option>
            </select>
        </div>
        <div class="iled-instructions">
            Note that if your entire unit is listed as "do not show", this will override your office settings. <br />
            If an office is listed as "do not show but allow people to be added", then it can be used to group people across multiple offices. 
        </div>
    </div>
    @if (Office.IsAreaAdmin)
    {
        <h2>Order Information</h2>
        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="ed-internalorder">Order</label>
                <select id="ed-internalorder" @bind="Office.InternalOrder" @bind:after="SetDirty">
                    <option value="1">Top in List</option>
                    <option value="3">Middle / Default</option>
                    <option value="5">Bottom in List</option>
                </select>
            </div>
            <div class="iled-instructions">
                Offices are normally listed in alphabetical order. This allows an administrator to manually change the order of the office.
            </div>
        </div>
    }
    <div class="iled-buttons-left">
        <button class="il-button" @onclick="Send" @onblur="RemoveMessage">Save</button>
    <ClearCacheButton></ClearCacheButton>
    </div>
    <ToastPopup></ToastPopup>
}