@page "/office/users/{officeid:int?}"

<PageTitle>Office Administrators | UIUC</PageTitle>

<il-section>
    <h1>@OfficeTitle Administrators</h1>
    <p>These people will be able to edit office information, create other office administrators for their unit, and edit people that are in their office.</p>
</il-section>
@if (!OfficeId.HasValue)
{
    <MultiChoice @ref="_multiChoice" Type="MultiChoiceTypeEnum.Office" AreaOfficeThinObjects="_officeThinObjects" OnClickCallback="AssignId"></MultiChoice>
}
else
{
    <div>
    <h2>Primary Administrators</h2>
    <p style="padding-bottom: 10px;">Primary administrators are visible to the outside world.</p>
    <il-section class="iled-username-parent">
        @foreach (var entity in SecurityEntries?.Where(se => se.IsPublic) ?? new List<SecurityEntry>())
        {
            <UsernameItem SecurityEntry="@entity" OnClickCallback="e => RemoveEntry(entity.Id)" OnChangeCallback="ChangeEntry"></UsernameItem>
        }
    </il-section>
    </div>
    <div>
    <h2>Backup Administrators</h2>
        <p style="padding-bottom: 10px;">Backup administrators are not visible to the outside world, but have the same permissions as a primary administrator.</p>
    <il-section class="iled-username-parent">
        @foreach (var entity in SecurityEntries?.Where(se => !se.IsPublic) ?? new List<SecurityEntry>())
        {
            <UsernameItem SecurityEntry="@entity" OnClickCallback="e => RemoveEntry(entity.Id)" OnChangeCallback="ChangeEntry"></UsernameItem>
        }
    </il-section>
    </div>
    <div>
        <h2>Add a New Administrator</h2>
        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="ed-netid" class="iled-label-required">NetID</label>
                <input id="ed-netid" required type="text" @bind="NetId">
            </div>
            <div class="iled-instructions">
                Enter a Net ID of the office administrator. The <em>@@illinois.edu</em> suffix is optional
            </div>
        </div>
    </div>
    <div class="iled-buttons-left">
    <button class="il-button" @onclick="Send" @onblur="RemoveMessage">Save</button>
    <ClearCacheButton></ClearCacheButton>
    </div>
    <ToastPopup></ToastPopup>
}