@page "/Admin/units"

<PageTitle>Add New Unit | UIUC</PageTitle>

<il-section>
    <h1>Add a New Unit</h1>
    <p>Global Administrators may add new units. Please assign a name to the unit and a primary contact. This primary contact will be able to go into this application and:</p>
    <ul>
        <li>Add and remove individual administrators to the area</li>
        <li>Change contact information for the area (like web addresses, title, etc.)</li>
        <li>Add and remove offices to this area, and assign administrative rights to all offices in this area</li>
        <li>Have administrative control over all offices and profiles inside the office</li>
    </ul>
    <p>As a Global Administrator, you will have full access to this area, including the ability to add and remove individual administrators to the area.</p>
</il-section>
<il-section class="iled-username-parent">
    @foreach (var area in Areas ?? new List<Area>())
    {
        <GenericItem GenericEntry="@area" Text="@area.Title" OnClickCallback="e => RemoveEntry(area.Id)"></GenericItem>
    }
</il-section>

<div class="iled-section-split">
    <div class="iled-input-box-parent">
        <div class="iled-input-box">
            <label for="ed-unitname" class="iled-label-required">Unit Name</label>
            <input id="ed-unitname" required type="text" @bind="UnitName">
        </div>
        <div class="iled-instructions">
            Unit Name of the unit you are creating.
        </div>
    </div>
    <div class="iled-input-box-parent">
        <div class="iled-input-box">
            <label for="ed-unitid" class="iled-label-required">Primary Contact NetId</label>
            <input id="ed-unitid" required type="text" @bind="NetId">
        </div>
        <div class="iled-instructions">
            NetID of the primary contact of the unit. The <em>@@illinois.edu</em> suffix is optional.
        </div>
    </div>
</div>
<button class="il-button" @onclick="LookupId">Look up NetID</button>
<button class="il-button" @onclick="Send">Save</button>
<div id="update-alert-parent"><span class="hide" id="update-alert" role="alert"></span></div>
