@page "/admin/users"

<PageTitle>Global Admin | UIUC</PageTitle>

<il-section>
    <h1>Global Administrators</h1>
    <p>These people will be able to create new units, new offices, create unit administrators, and office administrators.</p>
</il-section>
<div>
<h2>Primary Administrators</h2>
<p>Primary administrators are visible to the outside world.</p>
<il-section class="iled-username-parent">
    @foreach (var entity in SecurityEntries?.Where(se => se.IsPublic) ?? new List<SecurityEntry>())
    {
        <UsernameItem SecurityEntry="@entity" OnClickCallback="e => RemoveEntry(entity.Id)" OnChangeCallback="ChangeEntry"></UsernameItem>
    }
</il-section>
</div>
<div>
<h2>Backup Administrators</h2>
<p>Backup administrators are not visible to the outside world, but have the same permissions as a primary administrator.</p>
<il-section class="iled-username-parent">
    @foreach (var entity in SecurityEntries?.Where(se => !se.IsPublic) ?? new List<SecurityEntry>())
    {
        <UsernameItem SecurityEntry="@entity" OnClickCallback="e => RemoveEntry(entity.Id)" OnChangeCallback="ChangeEntry"></UsernameItem>
    }
</il-section>
</div>
<div>
    <div class="iled-input-box-parent">
        <div class="iled-input-box">
            <label for="ed-unitname" class="iled-label-required">Add a New Global Administrator</label>
            <input id="ed-unitname" type="text" required @bind="NetId">
        </div>
        <div class="iled-instructions">
            Enter a NetID of the global administrator. The <em>@@illinois.edu</em> suffix is optional.
        </div>
    </div>
</div>
<div class="iled-buttons-left">
    <button class="il-button" @onclick="Send" @onblur="RemoveMessage">Save</button>
    <ClearCacheButton></ClearCacheButton>
</div>
<ToastPopup></ToastPopup>
