@page "/admin/users"

<PageTitle>Global Admin | UIUC</PageTitle>

<il-section>
    <h1>Global Administrators</h1>
    <p>These people will be able to create new units, new offices, create unit administrators, and office administrators. Public entries are displayed as administrators to the outside world, while private entries have the same permissions but are not displayed. For example, if you have a primary person responsible for tasks and a backup person, you would make the primary person public and the backup person private.</p>
    <p>@Error</p>
</il-section>
<il-section class="iled-username-parent">
    @foreach (var entity in SecurityEntries ?? new List<SecurityEntry>())
    {
        <UsernameItem SecurityEntry="@entity" OnClickCallback="e => RemoveEntry(entity.Id)"></UsernameItem>
    }
</il-section>
<div>
    <div class="iled-input-box-parent">
        <div class="iled-input-box">
            <label for="ed-unitname" class="iled-label-required">Add a New Global Administrator</label>
            <input id="ed-unitname" type="text" required @bind="NetId">
        </div>
        <div class="iled-instructions">
            Enter a NetID of the global administrator. The <em>@@illinois.edu</em> suffix is optional.
        </div>
    </div>
</div>
<div class="iled-buttons-left">
    <button class="il-button" @onclick="Send" @onblur="RemoveMessage">Save</button>
    <button class="il-button" @onclick="LookupId" @onblur="RemoveMessage">Check NetID</button>
    <ClearCacheButton></ClearCacheButton>
</div>
<ToastPopup></ToastPopup>
