@page "/profile/biography"

<PageTitle>Profile Biography | UIUC</PageTitle>
@if (Employee != null)
{
    <il-section>
        <h1>@Employee.ProfileName Biography</h1>
        @if (ShouldUseExperts)
        {
            <p>This person should update their biography at <a href="https://go.illinois.edu/experts-login" target="_blank">Illinois Experts</a></p>          
        }
        else
        {
            <p>Add a professional biography to this profile below. </p>

            <div class="iled-input-box-parent">
                <div class="iled-input-box">
                    <label for="ed-biography">Add Biography</label>
                    <textarea id="ed-biography" class="iled-textbox-large" type="text" disabled="@Employee.IsEntryDisabled" @bind="Employee.Biography"></textarea>
                </div>
            </div>
            <button class="il-button" @onclick="Send">Save</button>
            <ViewProfile NetId="@Employee.NetId"></ViewProfile>
            <div id="update-alert-parent"><span class="hide" id="update-alert" role="alert"></span></div>
        }
    </il-section>
}
