@page "/profile/signature/{refresh?}"

<PageTitle>Profile Signature | UIUC</PageTitle>
@if (Employee != null)
{
    <il-section>
        <h1>@Employee.ProfileName Signature</h1>
        <p>Using the link below, generate an email signature with this profile information to copy and paste into an Outlook signature.</p>
        <Instructions ChildContent="@Instructions"></Instructions>
        <a class="il-button" href="@GenerateSignature" disabled="@Employee.IsEntryDisabled" target="_blank">Generate Signature</a>
    </il-section>
}
