<AuthorizeView>
    <Authorized>
        <div class="iled-buttons">
        <MainPageButton></MainPageButton>
        <ViewProfile></ViewProfile>
        <a class="il-button" href="MicrosoftIdentity/Account/SignOut">Sign Out</a>
        </div>
    </Authorized>
    <NotAuthorized>
        <MainPageButton></MainPageButton>
        <a href="MicrosoftIdentity/Account/SignIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>
