<div class="iled-float">
    <h2>Your Office Administrator</h2>
    <div>
        John Doe <br />
        Office name<br />
        Job title<br />
        email@illinois.edu<br />

        <p>This is your office administrator who can assist you with updating profile and office information.</p>
    </div>
</div>
